
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label> 
    <div class="sidebar">
        <header>My App</header>
        <ul>
            <li><a routerLink="./dashboard"><i class="fas fa-qrcode" ></i>DashBoard</a></li>
            <li><a routerLink="./all-products"><i class="fas fa-link"></i>All-Products</a></li>
            <li><a routerLink="./upload-products"><i class="fas fa-stream"></i>Upload-Products</a></li>
            <li><a routerLink="./orders"><i class="fas fa-calendar-week"></i>Orders</a></li>
            <!-- <li><a href=""><i class="fas fa-question-circle"></i>All-Products</a></li>
            <li><a href=""><i class="fas fa-sliders-h"></i>Upload-Products</a></li> -->
        </ul>
    </div>
    <section>
        <router-outlet></router-outlet>
    </section>
</body>